
.top {
    height: 10vh;
}

.middle {
    height: 80vh !important;
}

.image-container {
    height: 60vh !important;
    img{
        height: 100%;
        width: auto;
    }
}


.bottom {
    height: 10vh !important;
}
